@import "../mixins";
@import "../variables";

.app__table {
    position: absolute;
    top: $header_height + $toolbar_height + $formula_height;
    overflow-x: auto;
    right: 0;
    left: 0;

    padding-bottom: 2px;

    .row {
        display: flex;
        flex-direction: row;
        min-height: 20px;
        height: $row_height;
    }

    .row_info {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: $info_cell_width;

        height: 100%;
        border: 1px solid $border_color;
        border-top: none;

        background: #f8f9fa;

        position: relative;

        &-resize {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;

            height: 1px;
            opacity: 0;
            background: $primary_blue_color;

            transition: opacity 0.2s;
            z-index: 1000;

            cursor: row-resize;

            &:hover {
                height: 3px;
                opacity: 1;
            }
        }
    }

    .row_data {
        display: flex;
    }

    .column {
        display: flex;
        justify-content: center;
        align-items: center;

        background: #f8f9fa;
        min-width: 40px;
        width: $cell_width;

        height: 100%;
        border: 1px solid $border_color;
        border-top: none;
        border-left: none;

        position: relative;

        &_resize {
            position: absolute;
            bottom: 0;
            right: 0;
            top: 0;

            width: 1px;
            opacity: 0;
            background: $primary_blue_color;

            transition: opacity 0.2s;
            z-index: 1000;

            cursor: col-resize;

            &:hover {
                width: 3px;
                opacity: 1;
            }
        }
    }

    .cell {
        min-width: 40px;

        width: $cell_width;



        height: 100%;
        border: 1px solid #e2e3e3;

        border-left: none;
        border-top: none;

        color: #111;
        white-space: nowrap;

        outline: none;

        &.selected {
            border: none;
            outline: 2px solid $primary_blue_color;
            z-index: 2;
        }
    }
}
