@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
@import "~normalize.css";

@import "variables";
@import "mixins";

@import "./app/toolbar";
@import "./app/formula";
@import "./app/header";
@import "./app/table";

@import "./dashboard/index.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.app {
    position: relative;
    color: #888;

    height: 100%;
    max-width: 100%;
    font-size: 0.8rem;
}
